<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.adaltojunior.cordova.plugin.wazenavigator"
        version="0.1.1">

    <name>Waze Navigator</name>
    <description>Plugin to navigate using Waze.</description>
    <author>Adalto Junior</author>
    <repo>https://github.com/adaltojunior86/cordova-waze-navigator.git</repo>
    <issue>https://github.com/adaltojunior86/cordova-waze-navigator/issues</issue>
    <license>MIT</license>

    <keywords>maps, navigation, navigator, waze, ios, android, wp8</keywords>

    <platform name="wp8">
        <js-module src="www/wp8/wazenavigator.js" name="wazenavigator">
            <clobbers target="WazeNavigator"/>
        </js-module>
    </platform>

    <platform name="android">
        <js-module src="www/wazenavigator.js" name="WazeNavigator">
            <clobbers target="WazeNavigator" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WazeNavigator">
                <param name="android-package" value="com.adaltojunior.cordova.plugin.WazeNavigator"/>
            </feature>
        </config-file>

        <source-file src="src/android/WazeNavigator.java" target-dir="src/com/adaltojunior/cordova/plugin/" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WazeNavigator">
                <param name="ios-package" value="CDVWazeNavigator"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
        <array>
            <string>gmnav</string>
            <string>waze</string>
            <string>comgooglemaps</string>
        </array>
    </config-file>
        <js-module src="www/wazenavigator.js" name="WazeNavigator">
            <clobbers target="WazeNavigator" />
        </js-module>
        <header-file src="src/ios/CDVWazeNavigator.h" />
        <source-file src="src/ios/CDVWazeNavigator.m" />
    </platform>

</plugin>
